* {
    margin: 0;
    padding: 0;
}
:root {
    --White: hsl(0, 0%, 100%);
    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);
    --Brown-800: hsl(14, 45%, 36%);
    --Rose-800: hsl(332, 51%, 32%);
}
body {
    background-color: var(--Stone-100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card {
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: calc(100% / 3);
    padding: 25px;
    border-radius: 20px;
    gap: 15px;
}
.omelette-img {
    width: 500px;
    margin: 0 auto;
}
.nutrition-table {
    margin: 0 auto;
}
.nutrition-table tr {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}