* {
    margin: 0;
    padding: 0;
}
:root {
    --White: hsl(0, 0%, 100%);
    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);
    --Brown-800: hsl(14, 45%, 36%);
    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
}
body {
    background-color: var(--Stone-100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Outfit';
    font-size: 15px;
}
.card {
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: calc(100% / 3);
    padding: 25px 50px;;
    border-radius: 20px;
    gap: 15px;
}

.omelette-img {
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
}
.recipe-heading, .sub-heading {
    font-family: 'Young Serif';
}
.prep-heading, .rose {
    color: var(--Rose-800);
    font-size: 15px;
}
.sub-heading {
    color: var(--Brown-800);
}
.bold {
    font-weight: 800;
}
.prep-card {
    background-color: var(--Rose-50);
    border-radius: 15px;
    width: 90%;
    padding: 25px;
    font-size: 15px;
}
li {
    margin: 10px;
}
li::marker {
    color: var(--Brown-800);
    font-weight: 800;
}
hr {
    border: 1px solid black;
    width: 100%;
}
.nutrition-table {
    margin: 0 auto;
}
.nutrition-table tr {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
